.container {
	background-color: #c2c2a3;
}
.form-group button {
	background-color: #4d4d33;
	outline: none;
	border-color: transparent;
}
.form-group button:hover {
	background-color: #cccc00;
	border-color: transparent;
}
.form-group button:focus {
	background-color: #cccc00;
	outline: none;
	border-color: transparent;
}
.reg {
	text-align: center;
}

.login {
	text-align: center;
	font-size: 50px;
}

#results {
	color: #fff;
	padding:10px;
}
#results2 {
	color: #fff;
	padding:10px;
}

.success {
	background-color: #5cb85c;
	transition: 0.3s all ease-in-out;
}

.failure {
	background-color: #d9534f;
	transition: 0.3s all ease-in-out;
}